<mat-tab-group mat-align-tabs="center" [backgroundColor]="'primary'">
  <mat-tab label="Headlines">
    <ng-template matTabContent>
      <app-news-list [category]="'allNews'"></app-news-list>
    </ng-template>
  </mat-tab>
  <mat-tab label="Business">
    <ng-template matTabContent>
      <app-news-list [category]="'business'"></app-news-list>
    </ng-template>
  </mat-tab>
  <mat-tab label="Sports">
    <ng-template matTabContent>
      <app-news-list [category]="'sports'"></app-news-list>
    </ng-template>
  </mat-tab>
  <mat-tab label="Entertainment">
    <ng-template matTabContent>
      <app-news-list [category]="'entertainment'"></app-news-list>
    </ng-template>
  </mat-tab>
  <mat-tab label="Most Viewed">
    <ng-template matTabContent>
      <app-news-list [category]="'mostViewed'"></app-news-list>
    </ng-template>
  </mat-tab>
</mat-tab-group>
