.mat-list-item {
  cursor: pointer;
}

.mat-stroked-button {
  margin: 0px 0px 16px 16px;
}

.news {
  margin: 16px 0px 16px 16px;
  display: flex;
  align-items: center;
}

.news img {
  height: 50px;
  width: 50px;
}
